* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fdfdfd, #f8f8f8);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px; 
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: white; 
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(228, 226, 226); 
  border-bottom: 2px solid #ff0000; 
}
.navbar .container{
  max-width: 82rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 65px;
}
.navbar h2 {
  color: black;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  font-weight: 600; 
  letter-spacing: 1px; 
}
span{
  color: #ff0000;
}
.navbar .backBtn {
  color: #ff0000;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.3s ease; 
  border-radius: 8px; 
}
.navbar .backBtn:hover {
  color: #ff0000; 
  background-color: rgba(255, 0, 0, 0.1); 
  transform: scale(1.1);
}
.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.inputWrap {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
.search {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
  padding: 5px;
}
.search::placeholder {
  font-style: italic;
  color: #aaa;
}
.searchButton {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.searchButton:hover {
  background-color: #440b0b;
}


.loader {
  width: 120px;
  height: 90px;
  margin: 50px auto;
}
.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #7c0000;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}


.display {
  width: 90%;
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.card {
  background-color: #c13333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card h3 {
  font-size: 1.2rem;
  color: #d8d2d2;
  margin: 10px;
}
.card p {
  font-size: 1rem;
  color: #d8d2d2;
  margin: 0 10px 10px;
}



.return-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #be0000;
  color: rgb(200, 197, 197);
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.return-to-top-btn:hover {
  background-color: #620000;
}


.footer-bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 10;
}



@keyframes loading-bounce {
  0% {
      transform: scale(1, 0.7);
  }
  40% {
      transform: scale(0.8, 1.2);
  }
  60% {
      transform: scale(1, 1);
  }
  100% {
      bottom: 140px;
  }
}